<template name="alltemps">
<script src="/http://code.highcharts.com/highcharts-3d.js"></script>
<div id="container"></div>
<!--Show when this occured-->
{{timeframe}}

{{> highchartsHelper chartId="test" chartWidth="90%" charHeight="90%" chartObject=topGenresChart}}

{{#if $.Session.equals 'loading' 1}}
   <div class="preloader-wrapper big active">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>

{{/if}}

  <script>

</script>
</template>