<template name="graph">

<link type="text/css" rel="stylesheet" href="css/bootstrap-material-design.css" />






<!--  TEST -->
<div class="center">
 <div id="floater"></div>


<img src="logo.jpg " class="z-depth-3  center  "><br><br>



            <div id="centered_box_graph"  class="z-depth-5 center ">

     <div class="center">
        {{#if $.Session.equals 'countnew' -1}}
 <br>
        <button class="waves-effect waves-light btn btn-default 4 light-blue z-depth-3 links">Permanent vs Temp </button><br><br>
        <button class="waves-effect waves-light btn btn-default 5 light-blue z-depth-3 links">Operator or Workcenter </button><br><br>
        
        
{{/if}}

      {{#if $.Session.equals 'countnew' 0}}
{{>testgraphnew}}




<!--So here I will need to choose which select boxes to show -->
<!--                                   -->

<div class="form-group mytext">
    
    <select id="s1" class="form-control drop" required>
      <option value="datacom">Datacom</option>
       <option value="packing">Packing</option>
       <option value="manual">Manual</option>
       <option value="scd">SCD</option>
       <option value="manualboxes">Manual Boxes</option>
       <option value="metals">Metals</option>
       <option value="raceway">Raceway</option>
       <option value="wiu">WIU</option>
       <option value="autoboxes">Auto boxes</option>
       <option value="husky">Husky</option>
    </select>

</div>
 <button class="btn btn-default 2 light-blue z-depth-3 whitetext" id="test" type="submit">Select</button> <br>

 <button class="btn btn-default 1 light-blue z-depth-3 whitetext" id="test" type="submit">Graph Select Menu</button> 
   {{/if}} 
    {{#if $.Session.equals 'countnew' 1}}

<div class="form-group mytext">
     <label for="" class=""><span class=""> Please select an option</span></label>
    <select id="s1" class="form-control drop" required>
      <option value="operator">operator</option>
       <option value="workcenter">workcenter</option>
       
    </select>

</div>
 <button class="btn btn-default 1 light-blue z-depth-3 whitetext" id="test" type="submit">Permanent vs Temp</button> <br>
<button class="btn btn-default 2 light-blue z-depth-3 whitetext" id="test" type="submit">Select</button> 


      {{/if}} 



 {{#if $.Session.equals 'choice' "operator"}}
  {{#if $.Session.equals 'countnew' 2}}
<div class="form-group mytext">
{{>opsearch}}
</div>
 <button class="btn btn-default 1 light-blue z-depth-3 whitetext" id="test" type="submit">Previous</button> 

<button class="btn btn-default 2 light-blue z-depth-3 whitetext" id="test" type="submit">Select</button>

{{/if}}
 {{#if $.Session.equals 'countnew' 3}}
<!-- I need to grab the choice and use it to determine which graphs to show -->


<div class="form-group mytext">
    <label for="" class=""><span class=""> Please select an option</span></label>
    <select id="s1" class="form-control drop" required>
      <option value="single">View average for workcenter</option>
       <option value="all">View average for all workcenters</option>
       <option value="workcenter">Productivity avg by workcenter</option>
    </select>

</div>
 <button class="btn btn-default 1 light-blue z-depth-3 whitetext" id="test" type="submit">Previous</button>
<button class="btn btn-default 2 light-blue z-depth-3 whitetext" id="test" type="submit">Select</button>  
 
{{/if}}

{{#if $.Session.equals 'countnew' 4}}
<!-- Here I will have a drop down that only shows the work centers associated with this operator-->
<!-- Session variable for their choice -->
{{#if $.Session.equals 'operatorchoice' "single"}}

<!-- show a single work cell that is chosen by the user -->
<!-- Here show a input box asking for workcell-->





<div class="form-group mytext">
    {{>search2}}
    
</div>






 <button class="btn btn-default 1 light-blue z-depth-3 whitetext" id="test" type="submit">Previous</button>
<button class="btn btn-default 2 light-blue z-depth-3 whitetext" id="test" type="submit">Select</button>  
 
{{/if}}



  {{/if}} 
  {{/if}} 
 {{#if $.Session.equals 'choice' "workcenter"}}
 
 {{#if $.Session.equals 'countnew' 2}}
 <!-- Here the user needs to select if they want to look at a shift of a specific work center or
 if they want to compare the average of all work centers-->
<div class="form-group mytext">
    <label for="" class=""><span class=""> Please select an option</span></label>
    <select id="s1" class="form-control drop" required>
      <option value="shift">Workcenter by shift</option>
       <option value="all">Compare all workcenters</option>
       
    </select>

</div>
 <button class="btn btn-default 1 light-blue z-depth-3 whitetext" id="test" type="submit">Previous</button> 
<button class="btn btn-default 2 light-blue z-depth-3 whitetext" id="test" type="submit">Select</button>  

{{/if}}  
 {{#if $.Session.equals 'countnew' 3}}
 {{#if $.Session.equals 'workcenterchoice' "shift"}}

 {{>testgraphworkcell}}
<div class="form-group mytext">
    {{>search2}}
    
</div>
 <button class="btn btn-default 1 light-blue z-depth-3 whitetext" id="test" type="submit">Previous</button> 
<button class="btn btn-default 2 light-blue z-depth-3 whitetext" id="test" type="submit">Select</button>  

  
{{/if}}
 {{#if $.Session.equals 'workcenterchoice' "all"}}

{{>allworkcell}}
<div class="form-group mytext">
    
    <select id="s1" class="form-control drop" required>
      <option value="datacom">Datacom</option>
       <option value="packing">Packing</option>
       <option value="manual">Manual</option>
       <option value="scd">SCD</option>
       <option value="manualboxes">Manual Boxes</option>
       <option value="metals">Metals</option>
       <option value="raceway">Raceway</option>
       <option value="wiu">WIU</option>
       <option value="autoboxes">Auto boxes</option>
       <option value="husky">Husky</option>
    </select>

</div>
 <button class="btn btn-default 2 light-blue z-depth-3 whitetext" id="test" type="submit">Select</button> <br>

 <button class="btn btn-default 1 light-blue z-depth-3 whitetext" id="test" type="submit">Previous</button> 
  



 
 
 

{{/if}}  
{{/if}}  
    {{/if}} 





</div>
</div>
</div>

</template>