<template name="menu">

<img src="logo.jpg " class="z-depth-3 center testimage"><br><br>

<div id="graph_container" class="center " >

            <div id="centered_box_graph"  class="z-depth-5 center ">

     <div class="center">
      {{#if $.Session.equals 'count' 0}}
{{>testgraphnew}}
{{/if}}



<!--So here I will need to choose which select boxes to show -->
<!--                                   -->
 {{#if $.Session.equals 'count' 0}}
<div class="form-group mytext">
    
    <select id="s1" class="form-control drop" required>
      <option value="datacom">Datacom</option>
       <option value="packing">Packing</option>
       <option value="manual">Manual</option>
       <option value="scd">SCD</option>
       <option value="manualboxes">Manual Boxes</option>
       <option value="metals">Metals</option>
       <option value="raceway">Raceway</option>
       <option value="wiu">WIU</option>
       <option value="autoboxes">Auto boxes</option>
       <option value="husky">Husky</option>
    </select>

</div>
 <button class="btn btn-default 2 z-depth-3 whitetext" id="test" type="submit">Select</button> 

 <button class="btn btn-default 3 z-depth-3 whitetext" id="test" type="submit">Next Graph</button> 
   {{/if}} 
    {{#if $.Session.equals 'count' 1}}

<div class="form-group mytext">
     <label for="" class=""><span class=""> Please select a option</span></label>
    <select id="s1" class="form-control drop" required>
      <option value="operator">operator</option>
       <option value="workcenter">workcenter</option>
       
    </select>

</div>
 <button class="btn btn-default 1 z-depth-3 whitetext" id="test" type="submit">Previous</button> 
<button class="btn btn-default 2 z-depth-3 whitetext" id="test" type="submit">Select</button> 


      {{/if}} 



 {{#if $.Session.equals 'choice' "operator"}}
  {{#if $.Session.equals 'count' 2}}
<!-- Here I need to get the operators name
I take in their name and then later do a regex search through mongodb
for 


-->
 <div class="mytext ">
            
            <div class="input-field col ">
                <input id="name" type="text" class="validate required" autofocus autocomplete="off" required/>
                <label for="" class=""><span class=""> Please enter the operator's name</span></label>
            </div>
        </div>

<script>

 

$('#name').focus();
 </script>
 <button class="btn btn-default 1 z-depth-3 whitetext" id="test" type="submit">Previous</button> 
<button class="btn btn-default 2 z-depth-3 whitetext" id="test" type="submit">Select</button>

{{/if}}
 {{#if $.Session.equals 'count' 3}}



<div class="form-group mytext">
    <label for="" class=""><span class=""> Please select a option</span></label>
    <select id="s1" class="form-control drop" required>
      <option value="operator">workcenter</option>
       <option value="workcenter">workcenter avg</option>
       <option value="workcenter">Productivity avg by workcenter</option>
    </select>

</div>
 <button class="btn btn-default 1 z-depth-3 whitetext" id="test" type="submit">Previous</button>
<button class="btn btn-default 2 z-depth-3 whitetext" id="test" type="submit">Select</button>  
 
{{/if}}
  {{/if}} 
 {{#if $.Session.equals 'choice' "workcenter"}}
 

 {{#if $.Session.equals 'count' 2}}
 {{>testgraphworkcell}}
<div class="form-group mytext">
    {{>search2}}
    
</div>
 <button class="btn btn-default 1 z-depth-3 whitetext" id="test" type="submit">Previous</button> 
<button class="btn btn-default 2 z-depth-3 whitetext" id="test" type="submit">Select</button>  

{{/if}}  
 {{#if $.Session.equals 'count' 3}}

 <button class="btn btn-default 1 z-depth-3 whitetext" id="test" type="submit">Previous</button> 
 

{{/if}}  
    {{/if}} 





</div>
</div>
</div>

</template>