<!-- a layout for the main pages that shows the side bar with various options -->
<template name="layout">
<head>
    
    <!-- <script src="parts.js"></script>-->
   <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
    
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

   
     <!--  <meta http-equiv="refresh" content="120" /> -->

</head>

   
      <script type="text/javascript" src="js/materialize.mins.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
      {{> yield}}
     
  
</template>



