<template name="asp">

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>


<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>sssssssss</title>
</head>
<script Language="JavaScript">


function showDiv() {
    if ( document.getElementById('div1').style.display == 'block')
    {
            document.getElementById('div1').style.display = 'none';
           }
           else
           {
            document.getElementById('div1').style.display = 'block';
             
           }
           var value = document.getElementById('txt_name').value
            console.log("testing showDiv new" + value)
        }

</script>
<body>
  <Button id="Button1"  Text="Button 1" OnClick="showDiv()" > Button 1</Button>
  
    
  <!--<div id="div1" style="display:none">This is Div 1</div>-->
  
 
 <p>TEXT:<input type="text" id ="txt_name" name="T1" size="20"></p>
<form method="GET" id="div1" style="display:none">
 
  <table border="1">
    <tbody>
     

<tr>
      test
      </tr>
      
     </tbody>
  </table>
  
</form>

<form method="POST" action="11.asp" webbot-action="--WEBBOT-SELF--">
  <!--webbot bot="SaveResults" u-file="_private/form_results.csv" s-format="TEXT/CSV" s-label-fields="TRUE" startspan --><input TYPE="hidden" NAME="VTI-GROUP" VALUE="0"><!--webbot bot="SaveResults" i-checksum="43374" endspan -->
 
</form>

</body>
</template>