<template name="menunew">


  <head> 
    <title>links</title>

        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    

  
  </head>
  <body>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.mins.js"></script>
  <div class="center" id="repairlog_container">
  <img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box" class="z-depth-5 center">
      
     
        <br>
        <button class="btn btn-default 1 light-blue z-depth-3 links">Barcode Scanner </button><br>
        <button class="btn btn-default 2 light-blue z-depth-3 links">Scan History </button><br>
        <button class="btn btn-default 3 light-blue z-depth-3 links">Data entry </button><br>
        <button class="btn btn-default 4 light-blue z-depth-3 links">Graphs </button>
       
      
        
          
    </div>
  </div>

    </body>





</template>