

<template name="first">
<script>



</script>
<body class="">
 {{show}}
 <div id="repairlog_container" class="center" >
<img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box_data"  class="z-depth-5 center">
            

 <div class="center">
 
     
     
     {{#if $.Session.equals 'count' 0}}
   
  
 <button class="btn btn-default 1 z-depth-2 whitetext" type="submit">Start data entry</button>
 
      
 {{else}}
 {{#if $.Session.equals 'count' 1}}
  
          <!--
                <div class='input-group date mytext' id='datetimepicker1'>
                    <input type='text' class="form-control center" id="date"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
       
       
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({format: 'MM/DD/YYYY'});
            });
        </script>
 -->
<span class="center"> {{text}} </span>
<div class="mytext">
 <input id="date" type="date" class="datepicker center">
 
 </div>
 <script>
 $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });

 </script>
  <input class="btn waves-effect waves-light 1  z-depth-2 " type="submit">
    
       {{/if}}   
       {{/if}} 
{{#if showdd}}
{{text}}
 {{#if $.Session.equals 'count' 2}}
<!--Need a drop down menu here-->

 <div class="form-group mytext">
    
    <select id="s1" class="form-control drop">
      <option value="">Datacom</option>
       <option value="">Packing</option>
       <option value="">Manual</option>
       <option value="">SCD</option>
       <option value="">Manual Boxes</option>
       <option value="">Metals</option>
       <option value="">Raceway</option>
       <option value="">WIU</option>
       <option value="">Auto boxes</option>
    </select>

</div>
{{else}}
{{#if $.Session.equals 'count' 3}}
<!--At this poin the drop down will be loaded with
the work centers associated with the previously selected
items -->
 <div class="form-group mytext">
    
    <select id="s1" class="form-control drop">
      <!--{{#each workcenter}}
      <option value="">{{this}}</option>
 
		{{/each}}-->
{{#each workcenters}}
      <option value="">{{workcenter}} {{description}}</option>
 
		{{/each}}
       

    </select>

</div>
 {{/if}}
  {{/if}}

<input class="btn waves-effect waves-light 2 z-depth-2 " type="submit">      
     {{/if}}
 {{#if showtext}}

  <div class="center">
            
            <div class="input-field col center mytext">
                <input id="name" type="text" class="validate mytext " autofocus autocomplete="off"/>
                <label for="" class="center"> {{text}} </label>
            </div>
        </div>
  
<input class="btn waves-effect waves-light 2 z-depth-2 " type="submit">      
     {{/if}}
      <!-- <input type="submit" value="Submit" class="btn btn-primary"/> -->


</div>

</div>
</div>

</body>

</template>



