

<template name="select">
<!--
<script>
  $(document).ready(function() {
    $('select').material_select();
  });

</script>
-->
<body class="">
 <div id="repairlog_container" class="center" >
<img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box_data"  class="z-depth-5 center">
            

 <div class="center">
 
     
   
  <button class="btn btn-default 1 blue darken-4 z-depth-2 whitetext" type="submit">Start data entry</button>
 
      
     
      


</div>

</div>
</div>

</body>

</template>


