

<template name="start">
<!--
<script>
  $(document).ready(function() {
    $('select').material_select();
  });

</script>
-->
<!-- Latest compiled and minified CSS -->




<body>

  <div class="form-group">
    <label for="s1">Test</label>
    <select id="s1" class="form-control drop">
      <option value="Apple fritter">Option A</option>
      
    </select>

</div>
<li class="drop">Drop
<ul>
    <li><a href="http://www.g.com">Art</a></li>
      <li><a href="http://www.g.com">Coding</a></li>
      <li><a href="http://www.g.com">Design</a></li>
      <li><a href="http://www.g.com">Web Development</a></li>
    </ul>
  </li>
<script>


</script>
</body>

</template>


