

<template name="table">

  <!-- Trigger the modal with a button -->
  <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>-->

  <!-- Modal -->
  <!--
<div class="container">
  <h2>Activate Modal with JavaScript</h2>
 
  <button type="button" class="btn btn-info btn-lg" id="myBtn">Open Modal</button>


  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
   
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

-->
 <div id="tabletest"  class="z-depth-5 center">
          



<table class="no-spacing center" id="htmlTable" cellspacing="0" cellpadding = "0">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>status</th>
    <th>Dep.</th>
    <th>Workcenter</th>
    <th>Shift</th>
    <th>Planned</th>
    <th>Actual</th>
    <th>Prod.</th>
  </tr>
  <!-- Load session variables here -->
   <tr class="bgtest">
    <td>{{$.Session.get 'name'}}</td>
    <td>{{$.Session.get 'date'}}</td>
    <td>{{$.Session.get 'status'}}</td>
    <td>{{$.Session.get 'department'}}</td>
    <td>{{$.Session.get 'workcenter'}}</td>
    <td>{{$.Session.get 'shift'}}</td>
    <td>{{$.Session.get 'planned'}}</td>
    <td>{{$.Session.get 'actual'}}</td>
    <td>{{$.Session.get 'productivity'}}</td>
  </tr>
  {{#each dataentries}}
  <tr class="userRow" value="test">
    <td >{{name}}</td>
    <td>{{date}}</td>
    <td>{{employeestatus}}</td>
    <td>{{department}}</td>
    <td>{{workcenter}}</td>
    <td>{{shift}}</td>
    <td>{{planned}}</td>
    <td>{{actual}}</td>
    <td>{{productivity}}</td>
    <td class="hide">{{_id}}</td>
  </tr>
  {{/each}}
</table>


</div>
 
</template>


