
<template name="three">
<head>

      <link type="text/css" rel="stylesheet" href="css/bootstrap-material-design.css"  />
  
    
</head>


<script src=https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js></script>

<body class={{$.Session.get 'color'}}>
{{good}}
{{scan}}
<div class="outer-div">
<span class="toasttextbig center">
<div id="snackbar" class="center">{{partnumber}}</div>
</span></div>
     {{#if $.Session.equals 'start' 3}}
{{piecesperbag}}
 {{bagsperbox}}
  {{kanbanPieces}}
 {{output}}
 {{/if}}
<div class="center" id="repairlog_container">
<img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box"  class="z-depth-5">
          
          {{#if $.Session.equals 'counter' -1}}

      {{kanbancomponent}}
        {{check}}
          {{/if}}
       
        
        <!-- Change the text here-->
        {{#if $.Session.equals 'start' 3}}
         <div class="center">
             
 Start production
  <br>    
<button class="btn btn-default 10 #78909c blue-grey lighten-1 z-depth-2 " type="submit">Start a new job</button>
<br>
<button class="btn btn-default 11 blue z-depth-2 " type="submit">New technician</button>
</div>
{{/if}}
        {{#if $.Session.equals 'start' 1}}
        <button class="btn btn-default 9 #78909c blue-grey lighten-1 z-depth-2 whitetext" type="submit">Start a new job</button>
       
{{/if}}
{{#if $.Session.equals 'start' 0}}
       <div class="center ">
        {{text}}   {{kanbanamount}}
     

        <input type="initials" name="initials"  required class="form-control mytext"  id="initials" placeholder="" data-disable-touch-keyboard autofocus autocomplete="off">
       
       </div>
          
       {{colorFxn}}
       
      <!-- create two divs one left aligned and one left aligned with margin/padding-->
     
     {{part}}
     
    {{desc}}
{{#if $.Session.equals 'counter' -2}}
  <input class="btn btn-default 8 #78909c blue-grey lighten-1 z-depth-2 " type="submit"><br>

{{else}}
{{#if kanbancheck}}
<button class="btn btn-default 2  blue z-depth-2 "  data-toggle="modal" data-target="#myModalNorm">Kanban Ticket Override</button>
<br>
{{/if}}


<button class="btn btn-default #78909c 10 blue-grey lighten-1 z-depth-2 center" style="outline:none;-moz-outline:none" hidefocus="true" type="submit">Restart job</button>
<br>
<button class="btn btn-default 11 blue z-depth-2 " type="submit">New technician</button>

{{/if}}
{{/if}}



</div>
</div>

<script>
function myFunction(e) {
    //document.getElementById("demo").innerHTML = "Hello World";
 // e.stopPropagation();
$( ".ch" ).hide();

$("#initials").focus();
  /*
if (Modernizr.touch) {
    console.log("success here")
    // Disable keyboard by adding readonly attribute to field
     
    $("#initials").blur();
   
    
  }
    
$("#initials").focus();
*/


}
</script>
 


<!-- Button trigger modal -->
<!--
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalNorm">
    Launch Normal Form
</button>
-->
<!-- Modal -->
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Kanban Override
                </h4>
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
             
                 
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                      <input type="password" class="form-control"
                          id="txt_name" placeholder="Password"/>
                  </div>
                
              
               
                <!--try out submit button and grab data from the input -->
                
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>-->
                <button type="button" class="btn btn-primary 15">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>










</body>

</template>

<!--

 <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header center centertest">
          
          <h4 class="modal-title colortest blue modaltest">The color is: {{colorDescription}} </h4>
        </div>
        <div class="modal-body center">
            <img class="img-responsive center" height="100%" width="100%" src={{color}} alt="image" />
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-primary modal-close">OK</button>
        </div>
      </div>
    </div>

 -->