



<template name="final">

 

<body class="green">
<div class="outer-div">
<span class="toasttextbig center">
<div id="snackbar" class="center">{{partnumber}}</div>
</span></div>
{{piecesperbag}}
 {{bagsperbox}}
 {{output}}
<div id="repairlog_container" class="center" >
<img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box"  class="z-depth-5 center">
             <div class="center">
 Start production
	<br>		
<button class="btn btn-default 1 #78909c blue-grey lighten-1 z-depth-2 " type="submit">Start a new job</button>
<br>
<button class="btn btn-default 2 blue z-depth-2 " type="submit">New technician</button>
</div>



</div>
</div>

</body>
</template>