<template name="zero">
<body class="">
 
 <div id="repairlog_container" class="center" >
<img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box"  class="z-depth-5 center">
            
<!-- 
Basically this needs to show up sometime after the user scans the job order

It will show the usage rate for all the components in this order



-->

 <div class="center">
{{piecesperbag}}
{{bagsperbox}}
      <!-- <input type="submit" value="Submit" class="btn btn-primary"/> -->


</div>

</div>
</div>

</body>

</template>